<div class="container pl-4 text-center">
  <form [formGroup]="userForm" (submit)="submit()">
    <div formGroupName="date">
      <h4>Date</h4>
      <label>
        start :
        <input type="date" formControlName="start">
        end :
        <input type="date" formControlName="end">
      </label>
    </div>
    
    <div formGroupName="owner">
      <h4>Owner info</h4>
      <label>
        <div>
          name :
          <input type="text" formControlName="name">
        </div>
      </label>
      <div formGroupName="address">
        <label>
          <div>
            street :
            <input type="text" formControlName="street">
          </div>
          <div>
            zip :
            <input type="text" formControlName="zipCode">
          </div>
          <div>
            city :
            <input type="text" formControlName="city">
          </div>
          <div>
            number :
            <input type="text" formControlName="number">
          </div>
        </label>
      </div>
      
      <div formGroupName="contact">
        <h4>Contact</h4>
        <label>
          <div>
            phone :
            <input type="text" formControlName="phone">
          </div>
          <div>
            email :
            <input type="text" formControlName="email">
          </div>
        </label>
      </div>
    </div>
      <label>
        <div>
          number :
          <input type="text" formControlName="numbers">
        </div>
        <div>
          establishment :
          <input type="text" formControlName="establishment">
        </div>
      </label>
    <input class="btn btn-primary" type="submit" value="submit">
    </form>
    
  </div>