#element {
  display: block;
}

.date {
  cursor: pointer;
  margin-left: 10%;
}

.persons {
  margin-left: 2%;
}
.search {
  margin-top: 5px;
}

.hour {
  margin-left: 5%;
}

.container-fluid {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

option {
  color: black;
  text-align: center;
}

.btn {
  margin-top: 5px;
  margin-left: 65%;
}

select {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  outline: none;
  margin-top: 10px;
  max-width: 200px;
  border: none;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  color: white;
  background: transparent;
  outline: none;
  border-bottom: 2px solid white;
  font-size: 18px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  border: none;
  height: 35px;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.e-input-group .e-input-group-icon, .e-input-group.e-control-wrapper .e-input-group-icon, .e-input-group.e-control-wrapper:not(.e-disabled) .e-input-group-icon:hover {
  background: none;
}

.e-input-group:not(.e-disabled) .e-input-group-icon:active, .e-input-group.e-control-wrapper:not(.e-disabled) .e-input-group-icon:active {
  background: none;
}

@media  (max-width: 767px) {
  .persons{
    margin-left:22%
  }
  .research{
    margin-left: 38%;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .persons{
    margin-left: 23%
  }
}

@media (min-width: 990px) {
  .persons{
    margin-left: 4%
  }
  .research{
    margin-left: 7%;
  }
}
