<div class="main w-60">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 bg-secondary">
        <nav class="navbar navbar-expand-md ">
          <input
            class="btn btn-secondary m-2 bg-light"
            placeholder="Nom du restaurant ..."
            type="text"
          />

          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
          <div ngbDropdown>
            <button class="btn btn-danger m-2" ngbDropdownToggle>Heure</button>
            <div ngbDropdownMenu="dropdownBasic1">
            <ngb-timepicker></ngb-timepicker>
            </div>
          </div>

          <div ngbDropdown>
            <button class="btn btn-danger m-2" ngbDropdownToggle>
              Nombre de personnes
            </button>
            <div ngbDropdownMenu="dropdownBasic1">
              <button ngbDropdownItem>1</button>
              <button ngbDropdownItem>2</button>
              <button ngbDropdownItem>3</button>
              <button ngbDropdownItem>4</button>
              <button ngbDropdownItem>5</button>
              <button ngbDropdownItem>5+</button>
            </div>
          </div>
          <button class="btn ml-auto btn-dark m-2">Rechercher</button>
        </nav>
      </div>
    </div>
  </div>
</div>
