<div class="main">
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-expand-md">
        <div class="row w-100">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <input
              type="text"
              [(ngModel)]="inputText"
              class="form-control search"
              placeholder="Search ..."
            />
          </div>
          <form class="form-inline col-lg-3 col-md-4 col-sm-12 ml-5">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control date"
                  placeholder="Date"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                  (click)="d.toggle()"
                  [(ngModel)]="date"
                />
              </div>
            </div>
          </form>

          <div ngbDropdown class="col-lg-2 col-md-6 col-sm-4 persons">
            <select [(ngModel)]="nbPersonne">
              <option value="" disabled selected>Number of persons</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7+</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12 research">
            <button
              class="btn ml-auto btn-danger m-2"
              [routerLink]="['/profiles/establishments/search/', inputText]"
              (click)="search()"
            >
              Research
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
