        <footer class="page-footer font-small colorFooter">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-6 offset-3 mt-3 mb-3">
                      <a href=""><img src="assets/img/FB.png" alt="facebook"></a>
                      <a href=""><img src="assets/img/twitter.png" alt="twitter"></a>
                      <a href=""><img src="assets/img/google.png" alt="google+"></a>
                      <a href=""><img src="assets/img/insta.png" alt="instagram"></a>
                  </div>
              </div>
            </div>
          </footer>
