<footer class="btn-primary pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-center pb-3">
        <h5>Follow us</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-6">
        <img class ="col-2" src="assets/img/facebook.png" alt="facebook">
        <img class ="col-2" src="assets/img/twitter.png" alt="twitter">
        <img class ="col-2" src="assets/img/google+.png" alt="google+">
        <img class ="col-2" src="assets/img/instagram.png" alt="instagram">
        </div>
        <div class="col-3 pt-1">
          <p>legal mentions</p>
          <p>Home</p>
        </div>
        <div class="col-3 pt-1">
          <p>About us</p>
          <button>Contact us</button>
        </div>
    </div>
  </div>
  <div class="pt-3 pb-2 pl-3">© 2019 Copyright: Equipe-des-NOUS.com
  </div>
</footer>