<div class="container rounded">
  <div class="text-center mt-5">
    <h1>Welcome !</h1>
  </div>
  <div class="row">
    <h2 class="mt-4 text-center col-4">My restaurants :</h2>
    <div class="d-flex justify-content-right">
      <button
        class="btn btn-danger create col-8 pull-right"
        routerLink="/establishments/create"
      >
        Register establishment
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div
      class="card middle sm-12 m-3 col-3"
      *ngFor="let establishment of establishments; let index = index"
    >
      <div class="front">
        <img src="{{ establishment.medias[0]?.url }}" />
      </div>
      <div class="back ">
        <div class="back-content middle text-center mt-4 mb-4">
          <h2>{{ establishment.name }}</h2>
          <div class="sm mt-3">
            
              <button
                class="btn btn-danger booking"
                [routerLink]="['/bookings/list', establishment._id]"
              >
                Bookings
              </button>
            </div>
            <div class="sm mt-3">
              <button
                class="btn btn-danger update"
                [routerLink]="['/establishments/update', establishment._id]"
              >
                Update
              </button>
            </div>
          </div>
          <div class="sm mt-3">
            <button
              class="btn col-8 delete btn-danger"
              (click)="delete(establishment._id, index)"
            >
              Delete
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="message mt-4">
    <div>
      <div class="ml-4 text-center">
        <h2>Messages</h2>
      </div>

      <div class="media mt-5 mb-4" *ngFor="let message of messages; let index = index">
        <div class="media-body">
          <h5 class="mt-2 mb-2 text-center">{{ message.from }}</h5>
          <div class="trait"></div>
          <p class="mt-4 mb-4 ml-4">{{ message.message }}</p>
          <button class="btn btn-danger messageButton"
          (click)="deleteMessage(message._id, index)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
