<div class="text-center mt-5">
  <h1>Welcome</h1>
</div>
<h1 class="message mt-4">My restaurant</h1>
<hr />
<div class="row d-flex justify-content-around">
  <div class="card middle lg-4 sm-12 xs- m-3 " *ngFor="let establishment of tableEstablishment; let index = index">
    <div class="front">
      <img src={{establishment.medias[0]?.url}}>
    </div>
    <div class="back ">
      <div class="back-content middle text-center mt-4 mb-4">
        <h2>{{establishment.name}}</h2>
        <div class="sm mt-4">
          <button class="btn btn-danger" [routerLink]="['/bookings/list', establishment._id]">
            Reservation
          </button>
        </div>
        <div class="sm mt-4">
          <button class="btn btn-danger" [routerLink]="['/establishments/update', establishment._id]">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="d-flex justify-content-around">
  <button class="btn btn-danger mt-4 mb-4" routerLink="/establishments/create">Create establishment</button>
</div>
</div>
<div class="message mt-4">
  <div>
    <div class="ml-4">
      <h1>Message</h1>
    </div>

    <div class="media mt-5 mb-4" *ngFor="let message of tableMessage">
      <div class="media-body">
        <h5 class="mt-2 mb-2 text-center">{{message.from}}</h5>
        <div class="trait"></div>
        <p class="mt-4 mb-4 ml-4">{{message.message}}</p>
      </div>
    </div>
  </div>
