
<div class="container mt-5 mb-5" [hidden]="estaDefault">
  <div class="row">
    <div *ngFor="let user of tableEstablishment; let index = index" class="col-4">
      <div class="card m-4">
        <div class="hovereffect">
          <img
          class="img-responsive border border-dark col"
          src="{{user.medias[0]?.url}}">

          <div class="overlay">
            <h2 class="font-weight-bolder">{{ user.name }}</h2>
          </div>

        </div>
        <button class="btn btn-primary" (click)="etaDetail(user._id)" routerLink="/establishments/details">Voir</button>
        <button class="btn btn-primary" (click)="delete(user._id, index)">Delete</button>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5 mb-5" [hidden]="estaCategorie">
  <div class="row">
    <ng-container *ngFor="let user of tableEstablishment; let index = index" >
        <div *ngIf='user.type===this.categorie' class="col-4">
          <div  class="card m-4">
            <div class="hovereffect">
              <img
              class="img-responsive border border-dark col"
              src="{{user.medias[0]?.url}}">

              <div class="overlay">
                <h2 class="font-weight-bolder">{{ user.name }}</h2>
              </div>

            </div>
            <button class="btn btn-primary" routerLink="/establishments/details">Voir</button>
            <button class="btn btn-primary" (click)="delete(user._id, index)">Delete</button>
          </div>
        </div>
    </ng-container>

  </div>
</div>
