<div
  class="mt-4 mb-4 pt-2 pb-2 bg-opacity-20 container rounded text-center form-horizontal"
>
  <h1>Establishment registration</h1>
  <form
    class="form-group"
    [formGroup]="establishmentForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-6">
        <input
          formControlName="name"
          class="form-control"
          name="name"
          type="text"
          placeholder="Establishment name"
          size="50"
        />
      </div>
      <div class="col-6">
        <input
          formControlName="type"
          class="form-control"
          name="type"
          type="text"
          placeholder="Category"
          size="50"
        />
      </div>
    </div>
    <div class="pt-2 pb-2" formGroupName="address">
      <h2>Address</h2>
      <div class="row">
        <div class="col-3">
          <input
            formControlName="number"
            class="form-control"
            name="number"
            type="text"
            placeholder="Street number"
          />
        </div>
        <div class="col-3">
          <input
            formControlName="street"
            class="form-control"
            name="street"
            type="text"
            placeholder="Street name"
          />
        </div>
        <div class="col-3">
          <input
            formControlName="zipCode"
            class="form-control"
            name="zipCode"
            type="text"
            placeholder="Zip code"
          />
        </div>
        <div class="col-3">
          <input
            formControlName="city"
            class="form-control"
            name="city"
            type="text"
            placeholder="City"
          />
        </div>
      </div>
    </div>
    <h2>Description</h2>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 text-center">
        <textarea
          class="form-control"
          formControlName="description"
          placeholder="Describe your establishment"
        ></textarea>
      </div>
    </div>
    <div class="pt-2 pb-2" formGroupName="contact">
      <h2>Contact</h2>
      <div class="row">
        <div class="col-4">
          <input
            formControlName="phone"
            class="form-control"
            name="phone"
            type="tel"
            placeholder="Phone number"
            size="32"
          />
        </div>
        <div class="col-4">
          <input
            formControlName="email"
            class="form-control"
            name="email"
            type="email"
            placeholder="E-mail"
            size="32"
          />
        </div>
        <div class="col-4">
          <input
            formControlName="site"
            class="form-control"
            name="site"
            type="url"
            placeholder="Website"
            size="32"
          />
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2" formGroupName="networks">
      <h2>Networks</h2>
      <div class="row">
        <div class="col-6">
          <input
            formControlName="name"
            class="form-control"
            name="name"
            type="text"
            placeholder="Social networks"
            size="50"
          />
        </div>
        <div class="col-6">
          <input
            formControlName="link"
            class="form-control"
            name="link"
            type="url"
            placeholder="Link"
            size="50"
          />
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2" formGroupName="medias">
      <h2>Medias</h2>
      <div class="row">
        <div class="col-6">
          <label for="url" class="text-center"
            >Picture :
            <input
              formControlName="url"
              name="url"
              class="form-control-file"
              type="file"
              placeholder=""
              size="50"
            />
          </label>
        </div>
        <div class="col-6">
          <label for="order" class="text-center"
            >Menu :
            <input
              formControlName="order"
              name="order"
              class="form-control-file"
              type="file"
              placeholder=""
              size="50"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
    </div>
    <input class="btn btn-danger" type="submit" value="Submit" />
  </form>
</div>
