<div class="main bg-primary">
    <div class="container ">
    <div class="row">
    <div class="col-md-12 ">
    <nav class="navbar navbar-expand-md ">
    <a class="pr-5 pt-5">
    <span class="site-name">Angular Bootstrap</span>
    </a>
    <button class="navbar-toggler ml-auto custom-toggler"type="button"data-toggle="collapse"
   (click)="isCollapsed= !isCollapsed">
    <span class="navbar-toggler-icon"></span>
    </button>
          <div ngbDropdown class="d-inline-block pr-3 pt-3">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
        </div>
      
   
    <!-- The menu items -->
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    
    <button>Contactez nous</button>
    <button>Login</button>
    </nav>
    </div>
    </div>
    </div>
   </div>