<div class="main bg-primary">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 ">
                <nav class="navbar navbar-expand-md mr-auto">
                    <a class="mr-auto">
                        <span class="site-name">Angular Bootstrap</span>
                    </a>
                    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                        (click)="isCollapsed= !isCollapsed">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div ngbDropdown class="d-inline-block mr-auto">
                        <button  id="dropdownBasic1" ngbDropdownToggle>Categorie</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Burger</button>
                            <button ngbDropdownItem>Poisson</button>
                            <button ngbDropdownItem>Asiatique</button>
                        </div>
                    </div>

                    <button class="d-flex justify-content-end mr-1">Contactez nous</button>
                    <button class="d-flex justify-content-end">Login</button>
                </nav>
            </div>
        </div>
    </div>
</div>