.container {
    background-color: rgba(0, 0, 0, 0.3);

}
.contact-title{
    margin-top: 105px;
    margin-bottom: 25px;
    color: white;
    text-transform: uppercase;
    transition:  all 4s ease-in-out;
}
form{
    transition: all 4s ease-in-out;
    color: white;
}
.form-control{
    color: white;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    font-size: 18px
}

::placeholder {
    color:  rgb(0, 0, 0, 0.6);

}
input{
    height: 45px;
    color: white;
    margin-bottom: 50px;

}
